body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
    margin: 0;
  }
  
  #app {
   
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  #controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  #bookList {
    display:flex;
    justify-content:space-between;
    margin-top: 20px;
    flex-wrap:wrap;
  }
  
  .book-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .book-item:last-child {
    border-bottom: none;
  }
  
  #pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  #pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  #pagination span {
    margin: 0 10px;
  }
  